<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.web.TestServlet</servlet-class>
        <init-param>
            <param-name>MyInitParam</param-name>
            <param-value>MyInitParamValue</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.web.SimpleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DimaServlet</servlet-name>
        <servlet-class>DimaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/simple</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DimaServlet</servlet-name>
        <url-pattern>/dima</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
</web-app>
